<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @cocktail.picture%>');">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
    <ul class="list-unstyled">
      <h3>Ingrédients</h3>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.ingredient.name %> (<%= dose.description %>)
        </li>
      <%end%>
    </ul>
    <%= link_to "Back", cocktails_path, class:"btn btn-primary btn-lg position-back" %>
  </div>
</div>
<div class="container padded">
  <h1 class="text-center">Ajouter une dose à la recette</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.error_notification %>

        <%= f.input :description, label:"Quantité à ajouter", placeholder:"6 cl" %>
        <%= f.input :ingredient_id, collection: Ingredient.all %>

        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>

